<article>
  <div id="quote-box" class="container">
    <div class="quotes" *ngIf="quote">
      <h2 id="text">"{{ quote.text }}"</h2>
      <p id="author">{{ quote.author }}</p>
    </div>
    <div class="social-media-container">
      <div class="social-media-buttons">
        <div class="social-media">
          <a href="#twitter.com/intent/tweet" id="tweet-quote">Twitter</a>
          <a href="#facebook.com/intent/post" id="tweet-quote">Facebook</a>
        </div>
        <button id="new-quote" type="button" (click)="nextQuote()">
          Next Quote
        </button>
      </div>
    </div>
  </div>
</article>