<div>
  <h2>Life shrinks or expands in proportion to one’s courage.</h2>
  <p>- Anais Nin</p>
  <h2>If you want to lift yourself up, lift up someone else.</h2>
  <p>- Booker T. Washington</p>
  <h2>The person who says it cannot be done should not interrupt the person who is doing it.</h2>
  <p>- Chinese Proverb</p>
  <h2>Eighty percent of success is showing up.</h2>
  <p>- Woody Allen</p>
  <h2>Build your own dreams, or someone else will hire you to build theirs.</h2>
  <p>- Farrah Gray</p>
  <h2>Either you run the day, or the day runs you.</h2>
  <p>Jim Rohn</p>
</div>